@mixin nav-item {
    display: flex;
    transition: all 0.2s;
    align-items: center;
    height: 100%;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.wrapper {
    width: 100%;
    height: 35px;
    background-color: #070e17;
    position: absolute;
    bottom: 1px;
    display: flex;
    .left {

        display: flex;
        .nav-item {
            @include nav-item;
            width: 50px;
            padding: 2px 16px;
            img {
                width: 100%;
            }
        }
    }
    
    .right {

        color: white;
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        justify-content: flex-end;

        .date {
            padding: 0 6px;
            text-align: center;
        }

        .clear {
            width: 5px;
            height: 100%;
            border-left: 1px solid gray;
        }
    }
}

.nav-item {
    @include nav-item;
}