@import './variables';
@import './navbar';
@import './modal';
body {
    background-color: #f3f3f3;
    font-size: 12px;
}

.white-box {
    background-color: white;
}

.navbar-hover {
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}