.modal-content {

    width: 240px;
    padding: 0;
    .item {
        padding:12px 12px;
        .title {
            font-weight: 700;
            letter-spacing: 1px;
        }
        .text {
            font-size: 14px;
        }
        &:hover{
            background-color: blue;
        }
    }
    hr {
        margin-top:4px;
        margin-bottom: 4px;
        border-top: 1px solid gray;
    }

}